.profile__profile-author {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__profile-author {
    gap: 10px;
    justify-content: center;
  }
}