.profile__profile-info {
  display: grid;
  grid-template-columns: auto 18px;
  box-sizing: border-box;
  text-align: center;
  gap: 0 10px;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .profile__profile-info {
    grid-template-columns: minmax(auto, 189px) 18px;
    text-align: center;
    gap: 0 10px;
  }
}