.popup__form-field {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 0 48px 0;
  margin: 0;
  border: 0;
}

@media screen and (max-width: 767px) {
  .popup__form-field {
    padding: 0 0 45px 0;
  }
}