.popup__button-close {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor:pointer;
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/button-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  opacity: 1;
  transition: opacity ease .2s;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}