.elements__items {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px 17px;
}